@import url("geral/geral.css");


.logo {
    position: absolute;
    z-index: 1;
    left: 2%;
    color: #fff;
    padding-top: 1rem;
}

.logo img {
    width: 120%;
}

.hero-banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(10, 30, 58, 0.8);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.conteudo {
    position: absolute;
    top: 30%;
    left: 24%;
}


.conteudo h2{
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-family: "Bebas Neue", serif;
    line-height: 1.1;
    font-weight: 500;
    text-shadow: .2rem .3rem 2px rgba(26, 26, 26, 0.8);
    margin-bottom: .5rem;
    animation: moveBanner 1.5s;
}

.conteudo p{
    font-family: "Poppins", serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-shadow: .2rem .2rem 2px rgba(26, 26, 26, 0.8);
    margin-bottom: 3.5rem;
    animation: moveBanner 1.5s;
}

.conteudo button{
    font-family: "Poppins", serif;
    color: #e6e6e6;
    background: #0575E6;
    background: -webkit-linear-gradient(to top, #021B79, #0575E6);
    background: linear-gradient(to top, #021B79, #0575E6); 
    padding: 1rem 3rem;
    border: none;
    letter-spacing: .1rem;
    border-radius: 5px;
    cursor: pointer;
    border: solid 3px black;
    animation: moveBanner 1.2s;
}

.saibamais {
    transition: color 0.5s;
}

.saibamais:hover {
    color: black;
}



@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-90deg);
        opacity: 0;
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}


/* Rodape */

.rodape{
    width: 100%;
    background: #0a1e3a;  /* fallback for old browsers */
}

.container-rodape{
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0rem;
}

.text1-rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
}

.text1-rodape a{
    color: white;
    text-decoration: none;
}

.text1-rodape i{
    color: red;
}
.text2-rodape a{
    text-decoration: none;
    color: #008bd8;
}

.icons-rodape{
    display: flex;
    float: right;
    bottom: 0;
    align-items: center;
    font-size: xx-large;
}

.icons-rodape i{
    margin-left: 20px;
    color: white;
    transition: color 0.5s;
}

.icons-rodape i:hover {
    color: rgba(255,0,0,0.8);
}

a {
    text-decoration: none;
    color: white;
    font-family: "Poppins";
}
.rodape span{
    font-family: "Poppins", sans-serif;
    padding: 10px 5px;
    color: rgba(255,255,255, 0.6); 
}
.rodape-links  {
    display: flex;
    flex-direction:column;
    width: 90%;
    margin: 0 auto;

}

.rodape-wrapper {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#inicio {
    margin-right: 10px;
}
#termos {
    margin-right: 10px;
}

.links a {
    transition: background-color 0.5s;
    border-radius: 5px;
    padding:0rem 0.5rem;    
}
.links a:hover {
    background-color:rgba(255,0,0,0.8);

}

/* menu */ 

.hamburguer{
    /* background-color: red; */
    width: 3rem;
    height: 3rem;
    position: fixed;
    z-index: 100;
    right: 3rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 1s;
}

.show-menu .hamburguer{
    right: 16rem;
}

.hamburguer span{
    position: absolute;
    left: 5rem;
    height: 2.2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: snow;
    color: black;
    font-family: "Poppins", serif;
    opacity: 0;
    transition: all .5s;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .4rem solid snow;
    border-top: .4rem solid transparent;
    border-left: .4rem solid transparent;
    border-bottom: .4rem solid transparent;
    left: -1.2rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}

.line{
    width: 100%;
    height: .3rem;
    background-color: snow;
    box-shadow: 0.1rem 0.1rem 1px #000;
}

.sidebar{
    background: #141E30;
    background: -webkit-linear-gradient(to top, #243B55, #141E30);
    background: linear-gradient(to top, #243B55, #141E30);
    width: 20rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 90;
}

.show-menu .sidebar{
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5.5rem;
}

.menu-item{
    list-style-type: none;
    text-align: center;
    margin-bottom: 1.5rem;

}

.menu-link{
    color: snow;
    font-family: "Poppins", serif;
    font-size: 1.3rem;
    transition: color 1s;
    border-radius: 5px;
    transition: all 1s;
}

#ps-id{
    transition: all 1s;
}

#blog-id{
    transition: all 1s;
}

.seleção {
    transition: all 1s;
}

#ps-id:hover{
    color: yellow;
}

#blog-id:hover{
    color: yellow;
}

#seleção-id:hover{
    color: yellow;
}

.menu-link:hover{
    color: #008bd8;
}

.social-media{
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    color: snow;
    transition: color 1s;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    transition: all 1s;
}

.social-media i:hover{
    color: #008bd8;
}

/* Sobre */

.sobre { 
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: snow;
    color:  rgba(26, 26, 26, 0.8);
    padding: 7.5rem;
    font-family: "Poppins", serif;
}

.sobre h2{
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 1em; 
    color: #0a1e3a; 
    font-size: 2.5rem; 
    border-bottom: solid 3px #008bd8; 
}
.sobre p {
    color: #0a1e3a;
    padding-bottom: 2em;
    font-family: Poppins;
    width: 70%;
    line-height: 1.5;
}

.sobre a{
    cursor: pointer;
}

.sobre i {
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    color: #8B0000;
    font-size: 5rem;
    padding: 0rem 1rem;
}

.pdf-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}