/* Agendamento */

.agendar {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem;
    background-color: #0a1e3a;
    color:  #ffffff;
    padding-top: 3em;
    font-family: "Poppins", serif;
}

.agendar button{
        background-color: white;
        border: none;
        letter-spacing: .1rem;
        border-radius: 5px;
        cursor: pointer;
        padding: 1rem 2rem;
        font-family: Poppins;
        margin-top: 3rem;
    }

.agendar button a {
    text-decoration: none;
    color: #1a1a1a;
}